@model IEnumerable<Library.Models.BookList>

@{
    ViewData["Title"] = "Index";
}


<div class="card shadow mb-4">
    <div class="card-body" style="height: 590px; overflow: auto;">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th width="6%">序</th>
                        <th width="24%">書名</th>
                        <th width="10%">分類</th>
                        <th width="20%">作者</th>
                        <th width="11%">借閱狀態</th>
                        <th width="19%">借閱者</th>
                        <th width="10%"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            string Did = $"D{item.Id}";
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookClassification)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Author)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookStatements)
                                </td>
                                <td>
                                    島灰(email.com)
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@item.Id">
                                        借閱
                                    </button>
                                    <!-- 
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#@Did">
                                        歸還
                                    </button>-->
                                    <!-- 刪除Modal -->
                                    @*<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ProductId">刪除</a>*@
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
